/* coding: utf-8 */

:root {
  --main-color: rgba(252, 7, 7, 1);
  --second-color: rgba(255, 255, 255, 1);
  --black: rgba(0,0,0, 1);
  --btn-white: rgba(255, 255, 255, 1);
  --btn-light-grey:  rgba(229, 229, 229, 1);
  --btn-light-medium-grey: rgba(196, 196, 196, 1);
  --btn-medium-grey: rgb(151, 150, 150);
  --font-color-data: rgba(9, 152, 23, 1);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: auto;
  font-size: 1rem;
  overflow-x: hidden;
}
