/* coding: utf-8 */

.navbar {
    width: 100%;
    height: 5rem;

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

    background-image: url('../../assets/bg-navbar.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
   
}

.navbar ul {
    position: relative;
    width: 25%;
    height: 100%;

    display: flex;
    justify-content:space-around;
    align-items: center;

    font-weight: bold;
    font-size: 1rem;

    line-height: 1.1875rem;

    color: var(--btn-light-grey);
}

.navbar ul li {
    list-style-type: none;
    width: 120px;
    padding: 1%;
    text-align: center;

    cursor: pointer;
}

.navbar div.logoMobile {
    display: none;
}

.navbar ul div.menuMobile {
    display: none;
}

.navbar ul li#menu {
    display: block;
} 

.navbar ul li .btn-secundary {
    color: var(--btn-light-grey);

    text-decoration: none;
}

.navbar ul li .btn-secundary:hover, 
.navbar ul li#menu:hover {
    color: var(--btn-medium-grey);
}


.container-menu {
    position: absolute;

    border: 1px solid var(--btn-light-grey);
    background-color: var(--second-color);

    width: 75%;
    height: 100vh;
    left: 0;
    top: 0;

    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-menu .brand {
    width: 100%;
    height: 170px;
}

.container-menu .brand img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container-menu ul {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.container-menu ul li {
    border: none;
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    padding: 3%;
}

.btn-menu{
    text-decoration: none;

    color: var(--main-color);
}

.btn-menu:hover {
    color: var(--btn-light-grey);
}

@media (max-width: 320px){
    .navbar{
        background-color: var(--main-color);
        background-image: none;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 50px;
    }

    .navbar ul li#menu, .navbar .btn-secundary {
        display: none;
    }

    .navbar div.logoMobile {
        display: block;
        
        height: 100%;
    }

    .navbar div.logoMobile img {
        width: 100%;
    }

    .navbar ul {
        display: flex;
        justify-content: flex-end;
        width: 10%;
    }

    .navbar ul div.menuMobile {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 25%;
        height: 100%;
    }

    .navbar ul div.menuMobile i {
        font-size: 1.5em;
    }

    .container-menu {
        background-color: greenyellow;
        border: 1px solid;
        display: flex;
        z-index: 3;
    }
}