/* coding: utf-8 */

.container{
    width: 100vw;
<<<<<<< HEAD
    height: 100vh;
=======
    height: 56.25rem;
>>>>>>> MainBox

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--second-color);
<<<<<<< HEAD
=======

>>>>>>> MainBox
}