/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
*{
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root{
  --primary: rgba(42, 122, 228, 1);
  --black: rgba(0, 0 , 0, 1);
  --blackLighter: rgba(158, 158, 158, 1);
  --grayLigth: rgba(245, 245, 245, 1);
  --grayMedium: rgba(229, 229, 229, 1);
  --white: rgba(255, 255, 255, 1);
  --frontEnd: rgba(107, 209, 255, 1);
  --backEnd: rgba(0, 203, 111, 1);
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}
