/* coding: utf-8 */

.register {
    width: 64.375rem;
    height: 35.625rem;
    padding: 25px 30px 35px 25px;

    margin:auto;

    background-color: var(--btn-light-grey);

    border: 1px solid var(--btn-light-grey);
    border-left: 5px solid var(--main-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--btn-light-grey);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register div {
    width: 60.625rem;
    height: 7.25rem;
    padding: 30px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.register div label {
    width: 100%;

    font-weight: bold;
    font-size: 0.875em;
}

.register div label small {
    color: var(--main-color);

    cursor: pointer;

    letter-spacing: 1px;

    font-weight: 500;
}

.register div label small#note-item-description:hover:after {
    content: 'Descreva o serviço realizado.';
}

.register div label small#note-type-receipt:hover:after {
    content: 'Escolha uma das descrições de receita que está na lista'
}

.register div label small#note-value:hover:after {
    content: 'Inisra apenas números';
}

.register div input[type=text],
.register div input[list] {
    width: 50rem;
    height: 2rem;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border: none;
    border-radius: 4px;

    background-color: var(--second-color);
    color: var(--font-color-data);

    outline: none;

    font-weight: 600;
    font-size: 0.875em;

    text-indent: 5px;
}

.register div input[type=submit] {
    border: none;
    border-radius: 2px;

    width: 8.75rem;
    height: 2rem;

    font-weight: bold;
    font-size: 0.875em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .7);

    outline: none;

    cursor: pointer;

    background-color: var(--btn-light-medium-grey);
}

.register div input[type=submit]:hover {
    opacity: .7;
    color:var(--second-color);
}


@media (max-width: 320px) {
    .register {
        width: 100%;
        height: 32.1875rem;
        padding: 10px; 
    }

    .register div {
        width: 100%;
        padding: 0;
        height: 3.75rem;

        margin-top: 1.25rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register div:nth-child(1) {
        margin-top: 0;
    }

    .register div:nth-child(4) {
        margin-top: 6.125rem;
    }

    .register div label {
        text-align: center;
        font-size: 0.750em;
    }

    .register div label small {
        display: none;
    }

    .register div input[type=text],
    .register div input[list] {
        height: 1.875rem;
    }

    
}