/* coding: utf-8 */
.box {
    width: 73.125rem;
    height: 46.25rem;
    margin: 0 auto;
    padding: 25px 70px 47px 70px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}