:root {
    /* colors*/
    --white-one: #FFFFFF;
    --white-two: #FFFFFF63 ;
    --light-blue: #7DEDE2;
    --water-green: #58B790;
    --light-green: #63C7A9;
    --green: #2AC496;
    --matte-black: #363636;
    --dark-gray: #707070;
    --medium-gray: #00000029; 
    --dark: #000000;
    --dark-shadow: #00000099;
    --light-gray: #F0F0F2;
    --gray: #0000004D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
}
/*
img {
    max-width: 100%;
    height: auto;
}
*/
.container-header,
.container-form,
.container-main,
.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    max-width: 1920px;
}

.container-header {
    width: 100%;
    max-width: 1920px;
    height: 1080px;    

    background-color: transparent;
    background-image: url('../assets/background.png');
    background-position: center 0% 0%;
    background-size: cover;
}

.container-header nav {
    grid-column: 1/5;

    position: relative;
    height: 109px;

    background: var(--matte-black);
}

.container-header .content-card {
    grid-column: 2;
    background-color: transparent;
    background-image: url('../assets/filtercard.svg');
    background-position: center;
    background-size: cover;

    width: 586px;
    height: 1080px;
    padding: 30px;

    margin-top: -23%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    box-shadow: 0px 3px 6px var(--dark-shadow);
}

.container-header  .content-card .brand-title {
    position: absolute;
    
    height: 109px;
    width: 500px;
    margin-top: -2.5%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.container-header  .content-card .brand-title img {
    transform: scale(1);
}

.container-header  .content-card .brand-title h1 {
    font: normal normal bold 1.406em Montserrat;

    text-transform: uppercase;

    color: var(--white-one);
}

.container-header .content-card .name-play {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 20px;
    margin-top: 121px;
}

.container-header .content-card .name-play p {
    font: normal normal bold 1.125em Open Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--white-one);
}

.container-header .content-card .main-card {
    width: 100%;
    height: 754px;

    background: url('../assets/imgcard.png') center no-repeat;
    background-size: cover;
}

.container-header .content-card .main-card .feather {
    position: absolute;
    height: auto;
}

.container-header .content-card .main-card .left-up {
    width: 130px;
    top: 73%;
    left: 27%
}

.container-header .content-card .main-card .left-down {
    width: 96px;
    left: 31%;
    top: 89%;
}

.container-header .content-card .main-card .right-up {
    width: 181px;
    top: 61%;
    left: 57%;
}

.container-header .content-card .main-card .right-down {
    width: 157px;
    left: 63%;
    top: 85%;
}

.container-header .content-card .message-player {
    width: 65%;
    height: auto;
        
    margin: 0 auto;

    z-index: 2;
}

.container-header .content-card .message-player p {
    text-align: center;
    text-shadow: 0px 3px 6px var(--dark-shadow);
    font: normal normal normal 1em Open Sans;
    color: var(--light-gray);
}

.container-main {
    height: 1147px;   

    background-color: var(--matte-black);
    background-position: center 0% 0%;
    background-size: cover;
}

.container-main section {
    grid-column: 1/4;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-main .arrow {
    width: 5%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main .arrow i {
    color: var(--white-one);

    transform: scale(2);

    cursor: pointer;
}

.container-main .personage-card {
    position: relative;
    border-radius: 27px;
    /*width: 387px*/;
    width: 25%;
    height: 613px;

    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: var(--white-one);

    box-shadow: 0px 3px 6px var(--white-two);
}

.container-main .personage-card .down {
    position: absolute;
    border: 2px solid var(--white-one);
    border-radius: 99px;
    width: 90%;
    height: 70%;

    margin-top:-30%;

    background-color: var(--matte-black);
}

.container-main .personage-card .up {
    position: relative;

    width: 90%;
    height: 525px;
    margin-top: -55%;

    display: flex;
    align-items: center;
    justify-content: center;
} 

.container-main .personage-card .up img.img-web {
    width: 100%;
    height: auto;

    transform: scale(1.09);
}

.container-main .personage-card .up img.img-mobile {
    display: none;
}

.container-main .personage-card p {
    position: relative;
    width: 326px;
    height: 153px;
    margin-top: 35px;

    text-align: left;
    font: normal normal normal 1em Open Sans;
    letter-spacing: 0px;
    color: var(--matte-black);
}

.container-form {
    height: 700px;   

    background: transparent linear-gradient(143deg, var(--light-blue) 0%, var(--water-green) 100%) 0% 0% no-repeat;
}

.container-form #contact {
    border-radius: 10px;

    grid-column: 1/4;

    width: 60%;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white-one);

    transform: scale(1.1);
    
}

.container-form #contact h2 {
    width: 100%;
    height: 43px;

    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 1.750em Montserrat;
    letter-spacing: -0.88px;
    color: var(--light-green);
}

.container-form #contact p {
    width: 85%;
    height: 77px;
    
    margin-top: 40px;

    font: normal normal normal 1em Open Sans;
    color: var(--matte-black);
}

.container-form #contact div {
    width: 60%;
    height: 383px;

    margin-top: 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

input[type=text], input[type=email] {
    border: 1px solid var(--matte-black);
    width: 249px;
    height: 48px;

    font: normal normal normal 1.125em Open Sans;
    color: var(--matte-black);
    text-transform: capitalize;
}

input[type=email] {
    margin-left: 28px;
}

textarea {
    border: 1px solid var(--matte-black);
    width: 528px;
    height: 197px;

    font: normal normal normal 1.125em Open Sans;
    color: var(--matte-black);

    resize: none;
}

input[type=submit] {
    border: none;
    width: 249px;
    height: 48px;

    background-color: var(--light-green);

    font: normal normal normal 1.125em Open Sans;
    color: var(--white-one);

    text-transform: uppercase;

    cursor: pointer;
}

.container-footer {
    height: 410px;

    background: var(--matte-black) 0% 0% no-repeat;

    align-items: center;

}

.container-footer .arrow-up {
    border-radius: 60px;
    grid-column: 3/4;

    width: 107px;
    height: 107px;
    
    margin: 0 auto;
    margin-left: 60%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    background-color: var(--white-one);
}

.container-footer .arrow-up i {
    transform: scale(2);

    color: var(--matte-black);

    cursor: pointer;
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {

    .container-header .content-card .main-card .left-up {
        top: 47%;
        left: 25%;
    }

    .container-header .content-card .main-card .left-down {
        top: 58%;
        left: 29%;
    }

    .container-header .content-card .main-card .right-up {
        top: 40%
    }

    .container-header .content-card .main-card .right-down {
        top: 56%;
    }

    .container-form #contact div {
        width: 65%;
    }

}

@media screen and (min-width: 1254px) and (max-width: 1366px) {

    .container-header .content-card .main-card .left-up {
        top: 47%;
        left: 23%;
    }

    .container-header .content-card .main-card .left-down {
        top: 58%;
        left: 29%;
    }

    .container-header .content-card .main-card .right-up {
        top: 40%
    }

    .container-header .content-card .main-card .right-down {
        top: 56%;
    }

    .container-main .personage-card {
        height: 610px;
    }

    .container-main .personage-card .down {
         margin-top: -22%;

         height: 64%;
    }

    .container-main .personage-card p {
        width: 90%;

        margin-top: 0;
    }

    .container-form #contact div {
        width: 70%;
    }

}

@media screen and (min-width: 1101px) and (max-width: 1253px) {

    .container-header .content-card .main-card .left-up {
        top: 47%;
        left: 21%;
    }

    .container-header .content-card .main-card .left-down {
        top: 58%;
        left: 27%;
    }

    .container-header .content-card .main-card .right-up {
        top: 40%;
        left: 58%
    }

    .container-header .content-card .main-card .right-down {
        top: 56%;
        left: 65%;
    }

    .container-main .personage-card {
        height: 610px;
    }

    .container-main .personage-card .down {
        border-radius: 80px;
        margin-top: -15%;
        height: 58%;
    }

    .container-main .personage-card p {
        width: 90%;

        margin-top: 0;
    }

    .container-form #contact div {
        width: 80%;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1100px) {

    .container-header .content-card .main-card .left-up {
        top: 47%;
        left: 18%;
    }

    .container-header .content-card .main-card .left-down {
        top: 58%;
        left: 23%;
    }

    .container-header .content-card .main-card .right-up {
        top: 40%;
        left: 59%
    }

    .container-header .content-card .main-card .right-down {
        top: 56%;
        left: 67%;
    }

    .container-main .personage-card {
        height: 600px;
    }

    .container-main .personage-card .down {
        border-radius: 60px;
        margin-top: -5%;
        height: 51%;
    }

    .container-main .personage-card p {
        width: 90%;
        margin-top: -15%;

        font-size: 0.9em;
    }

    .container-form #contact div {
        width: 85%;
    }

}

@media screen and (min-width: 976px) and (max-width: 1024px) {

    .container-header .content-card .main-card .left-up {
        top: 47%;
        left: 14%;
    }

    .container-header .content-card .main-card .left-down {
        top: 58%;
        left: 21%;
    }

    .container-header .content-card .main-card .right-up {
        top: 40%;
        left: 59%
    }

    .container-header .content-card .main-card .right-down {
        top: 56%;
        left: 68%;
    }

    .container-main .personage-card {
        height: 580px;
    }

    .container-main .personage-card .down {
        border-radius: 50px;
        margin-top: -20%;
        height: 49%;
    }

    .container-main .personage-card .up {
        margin-top: -78%;
    }

    .container-main .personage-card p {
        width: 90%;
        margin-top: -25%;

        font-size: 0.9em;
    }

    .container-form #contact p {
        font-size: 0.9em;
    }
    .container-form #contact div {
        width: 90%;
    }

}

@media screen and (min-width: 800px) and (max-width: 975px) {

    .container-header  .content-card .brand-title {
        transform: scale(0.8);
    }

    .container-header .content-card .main-card .left-up {
        top: 47%;
        left: 12%;
    }

    .container-header .content-card .main-card .left-down {
        top: 58%;
        left: 19%;
    }

    .container-header .content-card .main-card .right-up {
        top: 40%;
        left: 60%
    }

    .container-header .content-card .main-card .right-down {
        top: 56%;
        left: 70%;
    }

    .container-main .personage-card {
        height: 580px;
    }

    .container-main .personage-card .down {
        border-radius: 50px;
        margin-top: -20%;
        height: 49%;
    }

    .container-main .personage-card .up {
        margin-top: -78%;
    }

    .container-main .personage-card p {
        width: 90%;
        margin-top: -25%;

        font-size: 0.9em;
    }

    .container-form #contact p {
        font-size: 0.9em;
    }
    .container-form #contact div {
        width: 90%;
    }

}

