:root {
    /* colors*/
    --white-one: #FFFFFF;
    --white-two: #FFFFFF63 ;
    --light-blue: #7DEDE2;
    --water-green: #58B790;
    --light-green: #63C7A9;
    --green: #2AC496;
    --matte-black: #363636;
    --dark-gray: #707070;
    --medium-gray: #00000029; 
    --dark: #000000;
    --dark-shadow: #00000099;
    --light-gray: #F0F0F2;
    --gray: #0000004D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100vw;
    height: 100vh;
    max-width: 1920px;
}

img {
    max-width: 100%;
    height: auto;
}

.container-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

    max-width: 1920px;
    height: 1080px;    

    background-color: transparent;
    background-image: url('../assets/background.png');
    background-position: center 0% 0%;
    background-size: cover;
}

.container-header .navbar {
    grid-column: 1/13;
    background-color: var(--matte-black);
    height: 109px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-header .navbar div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.container-header .navbar div h1 {
    text-align: left;
    font: normal normal bold 23px/36px Montserrat;
    letter-spacing: 0.68px;
    color: var(--white-one);
    text-transform: uppercase;
}

.container-header .content-card {
    grid-column: 5/9;
    background-color: transparent;
    background-image: url('../assets/filtercard.svg');
    background-position: center;
    background-size: cover;

    height: 1080px;
    max-height: 1080px;
    margin-top: -145px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    box-shadow: 0px 3px 6px var(--dark-shadow);
}

.container-header .content-card div {
    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 20px;
    margin-top: 121px;
}

.container-header .content-card .main-card img {
    margin-top: 32px;
}

.container-header .content-card .feather {
    position: absolute;
    top: 400px;
}

.container-header .content-card .left-up {
    width: 130px;
    height: 119px;
    left: 480px;
    top: 320px;
}

.container-header .content-card .right-up {
    width: 181px;
    height: 155px;
    top: 280px;
    left: 860px;
}

.container-header .content-card .left-down {
    width: 96px;
    height: 100px;
    left: 540px;
    top: 420px;
}

.container-header .content-card .right-down {
    width: 157px;
    height: 155px;
    left: 920px;
    top: 405px;
}


.container-header .content-card div p {
    font: normal normal bold 15px/18px Open Sans;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: var(--white-one);
}


.container-header .content-card .message-player {
    width: 271px;
    height: 121px;
    
    margin: 0 auto;
    margin-top: 108px;

    text-align: center;
    text-shadow: 0px 3px 6px var(--dark-shadow);
    font: normal normal normal 20px/21px Open Sans;
    letter-spacing: 0px;
    color: var(--light-gray);
}

.container-header .content-card .message-player::after {
    content: "|";
    border: 1px solid;
    border-radius: 124px;

    display: block;

    width: 28px;
    height: 48px;
    padding: 1px;

    margin: 0 auto;
    margin-top: 32px;

    box-shadow: 0px 3px 6px var(--dark-shadow);

    background-color: var(--white-one);

    color: var(--matte-black);
}

.container-header .content-card::after {
    content: "∨";

    display: block;

    width: 12px;
    height: 12px;

    margin: 0 auto;
    margin-top: 30px;

    text-align: center;

    color: var(--white-one);
}


.container-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

    max-width: 1920px;
    height: 1147px;   

    background-color: var(--matte-black);
    background-position: center 0% 0%;
    background-size: cover;
}

.container-main section {
    grid-column: 1/13;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-main .arrow {
    width: 66px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main .arrow i {
    color: var(--white-one);

    transform: scale(2);

    cursor: pointer;
}

.container-main .personage-card {
    position: relative;
    border-radius: 27px;
    width: 387px;
    height: 613px;

    display: flex;
    flex-direction: column;
    align-items: center;


    background-color: var(--white-one);

    box-shadow: 0px 3px 6px var(--white-two);
}

.container-main .personage-card .up {
    position: absolute;

    width: 379px;
    height: 525px;
    margin-top: -118px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container-main .personage-card .up img.img-mobile {
    display: none;
}
.container-main .personage-card .down {
    border: 2px solid var(--white-one);
    border-radius: 99px;
    width: 320px;
    height: 427px;

    margin-top:-25px;

    background-color: var(--matte-black);
}

.container-main .personage-card p {
    width: 326px;
    height: 153px;
    margin-top: 35px;

    text-align: left;
    font: normal normal normal 20px/25px Open Sans;
    letter-spacing: 0px;
    color: var(--matte-black);
}

.container-form {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

    max-width: 1920px;
    height: 700px;   

    background: transparent linear-gradient(143deg, var(--light-blue) 0%, var(--water-green) 100%) 0% 0% no-repeat;
}

.container-form #contact {
    border-radius: 10px;
    grid-column: 3/11;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--white-one);
    
    z-index: 2;

    transform: scale(1.1);
}

.container-form #contact h2 {
    width: 246px;
    height: 43px;

    text-transform: uppercase;
    text-align: center;
    font: normal normal bold 35px/46px Montserrat;
    letter-spacing: -0.88px;
    color: var(--light-green);
}

.container-form #contact p {
    width: 746px;
    height: 77px;
    
    margin-top: 40px;

    font: normal normal normal 20px/21px Open Sans;
    color: var(--matte-black);
}

.container-form #contact div {
    width: 528px;
    height: 383px;

    margin-top: 50px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

input[type=text], input[type=email] {
    border: 1px solid var(--matte-black);
    width: 249px;
    height: 48px;

    font: normal normal normal 18px/30px Open Sans;
    color: var(--matte-black);
    text-transform: capitalize;
}

input[type=email] {
    margin-left: 28px;
}

textarea {
    border: 1px solid var(--matte-black);
    width: 528px;
    height: 197px;

    font: normal normal normal 18px/30px Open Sans;
    color: var(--matte-black);

    resize: none;
}

input[type=submit] {
    border: none;
    width: 249px;
    height: 48px;

    background-color: var(--light-green);

    font: normal normal normal 18px/30px Open Sans;
    color: var(--white-one);

    text-transform: uppercase;

    cursor: pointer;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;

    max-width: 1920px;
    height: 410px;

    background: var(--matte-black) 0% 0% no-repeat;

    align-items: center;

}

.container-footer .arrow-up {
    border-radius: 60px;
    grid-column: 11;

    width: 107px;
    height: 107px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    background-color: var(--white-one);
}

.container-footer .arrow-up i {
    transform: scale(2);

    color: var(--matte-black);

    cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }

    .container-header {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        background-color: orange;
    }
}

@media screen and (min-width: 321px) and (max-width: 599px) {
    body {
        background-color: purple;
    }
}


/* if <= 320px */
@media screen and  (max-width: 320px) {
    .container-header, .container-main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .container-header .navbar {
        width: 100%;
        height: 52px;
        margin-top: 0;
    }

    .container-header .navbar div img {
        width: 52px;
        height: 52px;

        flex-shrink: 1;
    }

    .container-header .navbar div  h1 {
        width: 100%;

        flex-shrink: 2;

        font-size: 0.8em;
    }

    .container-header .content-card {
        width: 100%;
    }

    .container-header .content-card div {
        margin-top: 100px;
    }

    .container-header .content-card div p {
        font-size: 0.7em;
    }

    .container-header .content-card .main-card {
        margin-top: 0px;
    }

    .container-header .content-card .feather {
        left: 0;
    }

    .container-header .content-card .left-up {
        top: 100px;
        left: -22px;
        transform: scale(0.7);
    }

    .container-header .content-card .left-down {
        top: 180px;
        transform: scale(0.7);
    }

    .container-header .content-card .right-up {
        left: 185px;
        top: 70px;
        transform: scale(0.5);
    }

    .container-header .content-card .right-down {
        left: 215px;
        top: 162px;
        transform: scale(0.35);
    }

    .container-header .content-card .message-player {
        margin-top: 18px;
    }

    .container-header .content-card::after {
        display: none;
    }

    .container-main {
        height: 250vh;
        margin-top: 27px;
    }

    .container-main section {
        width: 290px;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .container-main section .arrow {
        display: none;
    }

    .container-main section .personage-card {
        width: 100%;
        height: 410px;
        padding: 8px;
        top: 42px;
    }

    .container-main section .personage-card .up {
        margin-top: 0;

        width: 100%;
        height: 350px;
        top: -78px;
    }

    .container-main section .personage-card .up img.img-web {
        display: none;
    }

    .container-main section .personage-card .up img.img-mobile {
        display: block;
        transform: scale(0.78);
    }

    .container-main section .personage-card .up img#img-mobile-red {
        transform: scale(0.78);
        margin-top: -62px;
    }

    .container-main section .personage-card .down {
       width: 280px;
       height: 350px;
    }

    .container-main section .personage-card p {
        font-size: 0.75em;
        width: 100%;
    }
    
    .container-form {} 
    
    .container-footer {
        display: none;
    }
    
}