/* coding: utf-8 */

.container-config{
    width: 100vw;
    height: 56.25rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--second-color);
}

@media (max-width: 320px) {
    .container-config {
        height: 100vh;
    }
}