/* coding: utf-8 */

.container-register-values {
    width: 100%;
    height: 100vh;

}

@media (max-width: 320px) {
    .container-register-values {
        height: 100vh;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .container-register-values {
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .container-register-values {
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .container-register-values {
        height: auto;
    }
}

